<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.md.dao.ITypeMapper">
    <resultMap id="baseResult" type="com.qianfeng.md.bean.TbType">
        <id property="typeId" column="type_id" javaType="java.lang.Integer"/>
        <result property="typeName" column="type_name" javaType="java.lang.String"/>
        <result property="typeSeatNum" column="type_seat_num" javaType="java.lang.Integer"/>
        <result property="seatTable" column="seat_table" javaType="java.lang.String"/>
    </resultMap>
    <select id="selectSeatTableByName" resultMap="baseResult">
         select type_id,type_name,type_seat_num,seat_table from tb_type where type_name = #{typeName};
    </select>
</mapper>

